body {
  overflow: hidden;
}

@keyframes pulseSoft {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.pulse-soft {
  animation: pulseSoft 2s ease-in-out infinite;
}

@keyframes expandHeight {
  0% {
    height: 20dvh;
  }
  100% {
    height: 100dvh;
  }
}
