@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(45);
    opacity: 0.375;
  }
  100% {
    transform: scale(55);
    opacity: 0;
  }
}

.hold-button {
  -webkit-user-select: none; /* Old navs */
  user-select: none; /* New navs */
  -webkit-touch-callout: none;
  touch-action: manipulation;
}
